<br>
<div class="row fadeInLeft">
  <div class="col s12 black white-text">
    <h1 class="center-align"><span class="green-letter">T</span>op 10</h1>
    <table class="highlight responsive-tabler">
      <thead>
        <tr>
          <th>Coin</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>24hr Change</th>
        </tr>
      </thead>
      <tbody>
        {{#each coins}}
        <tr>
          <td>{{ name }}</td>
          <td class="tick-symbols">{{ symbol }}</td>
          <td>{{ price }}</td>
          {{#isLoss change24h}}
          <td><span class="loss pct-change">{{ change24h }}</span></td>
          {{else}}
          <td><span class="gain pct-change">{{ change24h }}</span></td>
          {{/isLoss}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br>
  </div>
</div>


<div class="row fadeInRight">
  <div class="col s12 black white-text top10ChartContainer">
    <canvas id="top10Chart" width="400" height="400"></canvas>
  </div>
</div>
