<br>
<div class="row">
  <div class="col m12 black white-text">
    <div class="row">
      <div class="col s12">
        <h1 class="center-align">Top 10</h1>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Coin</th>
              <th>Symbol</th>
              <th>Price</th>
              <th>24hr Change</th>
            </tr>
          </thead>
          <tbody>
            {{#each coins}}
            <tr>
              <td>{{ name }}</td>
              <td class="tick-symbols">{{ symbol }}</td>
              <td>{{ price }}</td>
              {{#isLoss change24h}}
              <td><span class="loss pct-change">{{ change24h }}</span></td>
              {{else}}
              <td><span class="gain pct-change">{{ change24h }}</span></td>
              {{/isLoss}}
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col m12 black white-text">
    <div class="row">
      <div class="s12 top10ChartContainer">
        {{!-- hello chart --}}
        <canvas id="top10Chart" width="400" height="400"></canvas>
      </div>
    </div>
    {{!-- <div class="row">
      <div class="s12">
        another chart
      </div>
    </div> --}}
  </div>
</div>
{{!-- </div> --}}